@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");


/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(220, 24%, 15%);
    --black-color-lighten: hsl(220, 20%, 18%);
    --white-color: #fff;
    --main-color: #0073e6;
    --test-color-1: #b89c87;
    --test-color-2: #7e6f64;
    --test-color-3: #47372f;
    --test-color-4: #33241c;
    --test-color-5: #110c09;
    --warna-background: #181818;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    /* --body-font: "Montserrat", sans-serif;
    --normal-font-size: .938rem; */

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*========== font download ==========*/
@font-face {
    font-family: 'StretchPro';
    src: url('../font/StretchPro.otf')format('opentype');
}

@font-face {
    font-family: 'Akira Expanded Demo';
    src: url('../font/Akira Expanded Demo.otf')format('opentype');
}

@font-face {
    font-family: 'mileadilan';
    src: url('..font/mileadilan')format('opentype');
}


/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;

}

body {
    /* font-family: var(--body-font);
    font-size: var(--normal-font-size); */
    background-color: var(--black-color);
    /* font rekomendasi gpt */
    font-family: 'Poppins', sans-serif;
}

.subtitle {
    font-family: 'Inter', sans-serif;
}


body::-webkit-scrollbar {
    display: none;
}

ul {
    list-style: none;
    color: var(--white-color);
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
}

a {
    text-decoration: none;
    color: var(--white-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
    position: absolute;
    width: 100%;
    height: fit-content;
    background: transparent;
    transition: background-color 0.4s ease;
    z-index: var(--z-fixed);
}

.header.navscroll {
    background: transparent;
}

/*=============== NAV ===============*/
.nav {
    height: var(--header-height);
    background: transparent;
}

.nav__logo,
.nav__burger,
.nav__close {
    color: var(--test-color-1);
}

.nav__logo,
.nav__burger,
.nav__close :hover {
    color: var(--white-color);
}

.nav__data {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-size: 1.7rem;
    font-weight: var(--font-semi-bold);
    font-family: 'StretchPro', sans-serif;
    color: var(--white-color);
}

.nav__logo:hover {
    color: var(--test-color-2);
    transition: .9s ease-in-out;
}

.nav__logo i {
    font-weight: initial;
    font-size: 1.25rem;
}

.nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
}

.nav__burger,
.nav__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    transition: opacity .1s, transform .4s;
}

.nav__close {
    opacity: 0;
}


/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {

    .content {
        margin-bottom: 220px;
    }

    .nav__menu {
        position: absolute;
        left: 21%;
        width: 50%;
        display: flex;
        justify-content: center;
        height: calc(100vh - 3.5rem);
        overflow: auto;
        pointer-events: none;
        opacity: 0;
        transition: top .4s, opacity .3s;
    }

    .nav__menu::-webkit-scrollbar {
        width: 0;
    }

    .nav__list {
        background-color: transparent;
        padding-top: 1rem;
    }
}

.nav__link {
    color: var(--white-color);
    background-color: transparent;
    font-weight: var(--font-semi-bold);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid transparent 3px;
    padding: 1rem 1.5rem;
    transition: border-bottom 0.7s ease-out, color 0.7s ease-out;
    margin-top: 12px;
}

.nav__link:hover {
    border-bottom: solid var(--test-color-1) 3px;
    color: var(--test-color-2);
}

.nav__link button {
    background-color: transparent;
    border: none;
    box-shadow: none;

}

/* Show menu */
.show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
    opacity: 0;
    transform: rotate(90deg);
}

.show-icon .nav__close {
    opacity: 1;
    transform: rotate(90deg);
}



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .nav__link {
        padding-inline: 1rem;
    }
}

/* For large devices */
@media screen and (min-width: 1118px) {
    .container {
        margin-inline: auto;
    }

    .nav {
        height: calc(var(--header-height) + 2rem);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 3rem;
    }

    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav__link:hover {
        background-color: transparent;
        border-bottom: solid var(--test-color-1) 3px;
        color: var(--test-color-2);
    }
}

/* Hero Section Styles */
.hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    animation: fadeIn 2s ease-in-out;
    height: 100vh;
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #b89c87, #47372f);
    font-family: 'Akira Expanded Demo', sans-serif;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideIn 1.5s ease-in-out;
}

.subtitle {
    font-size: 1.5rem;
    color: var(--white-color);
    margin-bottom: 40px;
    animation: fadeIn 2.5s ease-in-out;
}

.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    animation: fadeIn 3s ease-in-out;
}

.cta-button {
    border: 2px solid var(--white-color);
    color: var(--white-color);
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.4s ease, transform 0.4s ease;
}

.cta-button.secondary {
    background-color: transparent;
    border: 2px solid var(--test-color-1);
    color: var(--test-color-1);
}

.cta-button.secondary i {
    margin-left: 8px;
    font-size: 17px;
}

.cta-button:hover {
    background-color: var(--test-color-2);
    color: var(--white-color);
    transform: translateY(-5px);
}

.cta-button.secondary:hover {
    background-color: var(--test-color-1);
    color: var(--white-color);
}

.cta-button.secondary:active {
    transform: scale(0.95);
}

/* Footer Styles */
.footer {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer p {
    color: var(--white-color);
    animation: fadeIn 2s ease-in-out;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Media Queries - Responsiveness */

/* Tablet and Below */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 3rem;
    }

    .subtitle {
        font-size: 1.2rem;
    }

    .cta-buttons {
        flex-direction: column;
        /* Tombol jadi vertikal */
        gap: 15px;
    }

    .cta-button {
        font-size: 0.9rem;
        padding: 10px 25px;
    }

    .footer {
        padding: 20px;
    }
}

/* Mobile Phones */
@media (max-width: 480px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .cta-buttons {
        gap: 10px;
    }

    .cta-button {
        font-size: 0.8rem;
        padding: 8px 20px;
    }

    .footer {
        padding: 15px;
    }
}


.main {
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    padding: 80px;
    background: var(--warna-background);
}

select {
    border: none;
    width: 400px;
    padding: 5px 30px;
    border-radius: 5px;
}

select::-webkit-scrollbar {
    display: none;
}


.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.profile-image h1 {
    font-family: 'StretchPro', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    color: whitesmoke;
    animation: fadeIn 3s ease-in-out;
}

.profile-image img {
    max-width: 290px;
    border-radius: 20px;
    margin-right: 20px;
    animation: slideIn 1.5s ease-in-out;
    margin-top: 7px;
}

.description {
    flex: 1;
}

.description h2 {
    margin-top: 50px;
    font-size: 28px;
    font-family: 'StretchPro', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #9d9d9d, #050505);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideIn 1.5s ease-in-out;
}

.description p {
    margin-top: 3rem;
    font: optional;
    font-size: 25px;
    font-weight: 200;
    line-height: 1.5;
    color: whitesmoke;
    margin-bottom: 20px;
    animation: fadeIn 4s ease-in-out;
}

.description p span {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: whitesmoke;
    margin-bottom: 20px;
}

/* Responsif untuk tablet (lebar maksimum 768px) */
@media (max-width: 768px) {
    .main {
        padding: 20px;
        /* Kurangi padding untuk tablet */
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    select {
        width: 100%;
        padding: 10px;
    }

    .section {
        flex-direction: column;
        margin: 10px;
    }

    .profile-image img {
        max-width: 200px;
        margin: 0 auto 20px;
    }

    .profile-image h1 {
        font-size: medium;
    }

    .description p {
        font-size: 25px;
    }

    .description p span {
        font-size: medium;
    }
}

/* Responsif untuk HP (lebar maksimum 480px) */
@media (max-width: 480px) {
    .main {
        padding: 15px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    select {
        width: 100%;
        padding: 8px;
    }

    .section {
        margin: 5px;
    }

    .profile-image img {
        max-width: 150px;
        margin-top: 10px;
    }

    .profile-image h1 {
        font-size: medium;
    }

    .description p {
        font-size: 20px;
    }

    .description p span {
        font-size: medium;
    }
}

.portofolio h2 {
    text-align: center;
    font-size: 3rem;
    font-family: 'StretchPro', sans-serif;
    font-weight: 700;
    margin-top: 90px;
    background: linear-gradient(90deg, #000000, #cdcdcd);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideIn 1.5s ease-in-out;
}

.portofolio h2 {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.portofolio h2.show {
    opacity: 1;
    transform: translateY(0);
}

.portofolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2.5rem;
    padding: 5rem;
    justify-content: center;
}

.portofolio-box {
    position: relative;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--white-color);
}

.portofolio-box img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.portofolio-box:hover img {
    transform: scale(1.1);
}

.portofolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--black-color-lighten));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    transition: transform 0.4s ease-in-out;
    transform: translateY(100%);
}

.portofolio-box:hover .portofolio-layer {
    transform: translateY(0);
}

.portofolio-layer h4 {
    font-size: 1.5rem;
    color: var(--white-color);
    margin-bottom: 0.5rem;
}

.portofolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.3rem;
    height: 2.3rem;
    background: var(--white-color);
    border-radius: 50%;
}

.portofolio-layer a i {
    font-size: 1.3rem;
    color: var(--black-color-light);
}

.portofolio-box {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.portofolio-box.show {
    opacity: 1;
    transform: translateY(0);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .portofolio h2 {
        font-size: 2.5rem;
    }

    .portofolio-container {
        padding: 4rem;
    }

    .portofolio-layer {
        padding: 0 1.5rem;
    }
}

@media (max-width: 768px) {
    .portofolio h2 {
        font-size: 2.5rem;
    }

    .portofolio-container {
        padding: 3rem;
    }

    .portofolio-layer h4 {
        font-size: 1.3rem;
    }

    .portofolio-layer a {
        width: 2rem;
        height: 2rem;
    }

    .portofolio-layer a i {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .portofolio h2 {
        font-size: 2.5rem;
        margin-top: 70px;
    }

    .portofolio-container {
        padding: 2rem;
    }

    .portofolio-layer h4 {
        font-size: 1.2rem;
    }

    .portofolio-layer a {
        width: 1.8rem;
        height: 1.8rem;
    }

    .portofolio-layer a i {
        font-size: 1rem;
    }
}


.Contact-me {
    border: 2px solid var(--white-color);
    color: var(--white-color);
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.4s ease, transform 0.4s ease;
    margin-left: auto;
    margin-right: 13px;
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
    outline: none;
    width: fit-content;
}

.Contact-me:hover {
    background-color: var(--white-color);
    color: black;
    transform: scale(1.1);
}

.Contact-me:active {
    transform: scale(0.95);
}